body{
  margin:0;
  text-align:center;
  font-family: 'Merriweather',serif;
  font-size: 100%;
}

h1{
  font-size: 5.625rem;
  width:100%;
  margin: 0 auto;
  padding-top:100px;
  font-family: 'Sacramento',cursive;
  color: #66BFBF;
  line-height: 1;
}
.programmer{
  color:#66BFBF;
  margin-top:3.125rem;
  font-size: 2.5rem;
  font-family: 'Montserrat',sans-serif;
  font-weight:bold;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
}

.top-cloud{
  position: absolute;
  right:200px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left:200px;
}

a{
  color:#11999E;
}

h3{
  color:#11999E;
}

.skill-row{
  width: 50%;
  margin:auto;
  margin:100px auto 100px auto;
  text-align:left;
  line-height: 2;
}

.ninja{
  float:left;
  width:25%;
  margin-right: 30px;
}

.bat{
  float:right;
  width: 25%;
  margin-left: 30px;
}


/*.middle-container{


}


.bottom-container{

}*/

.pro{
  text-decoration: underline;
}

.mountain{
  margin:0 auto;
}

.guy{
  border-radius: 100%;
}

.hr{
  border-top: 2px dotted;



}
.hello{
  color:#66BFBF;
  font-size: 32px;
  font-family: monospace;
}

.prof{
  margin:auto;
  width:60%;
  font-weight: bold;
}

.My{
  color:#11999E;
  font-size: 32px;
}

.pee{
  font-weight: bold;
}

.two{
  font-weight:bold;
}

.bottom-container{
  height:150px;
  background-color: #66BFBF;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.footer-link{
  position: relative;
  top:30px;
  margin-top: auto;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  color:#11999E;
  margin-right: 20px;

}
/*.footer-link:hover{
  font-size: 0;
}

.footer-link:hover:after{
  content: attr(data-hover);
  font-size: 24px;
}*/

.footer-link2{
  position: relative;
  top:30px;
  margin: auto;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  color:#11999E;
}
hr{
  border:dotted #EAF5F6;
  border-width: 6px;
  border-bottom:none;
  width: 3%;
  margin: 100px auto;
}
.copy{
  position:relative;
  top:50px;
  color:#EAF6F6;
  font-weight: bold;
  font-size: 10px;
}

.button {
   background: #3DF6C2;
   background-image: -webkit-linear-gradient(top, #3DF6C2, #187053);
   background-image: -moz-linear-gradient(top, #3DF6C2, #187053);
   background-image: -ms-linear-gradient(top, #3DF6C2, #187053);
   background-image: -o-linear-gradient(top, #3DF6C2, #187053);
   background-image: linear-gradient(to bottom, #3DF6C2, #187053);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Montserrat',sans-serif;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   box-shadow: 1px 1px 20px 0px #000000;
   -webkit-box-shadow: 1px 1px 20px 0px #000000;
   -moz-box-shadow: 1px 1px 20px 0px #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.button:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
